/*
 █████  ██████  ██████      ███████ ████████ ██    ██ ██      ███████ ███████
██   ██ ██   ██ ██   ██     ██         ██     ██  ██  ██      ██      ██
███████ ██████  ██████      ███████    ██      ████   ██      █████   ███████
██   ██ ██      ██               ██    ██       ██    ██      ██           ██
██   ██ ██      ██          ███████    ██       ██    ███████ ███████ ███████
*/

:root {
    --bg-color: #f8f8f8;
    --bg-accent: #fff;
    --bg-todo: #fff;
    --color-black: #202020;
    --color-text: var(--color-black);
    --color-accent: #febe2d;
    --color-interact: #24d3eb;
    --color-selected: #e6ffe5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #252525;
        --bg-accent: #151515;
        --bg-todo: #303030;
        --color-text: #f8f8f8;
        --color-selected: #b3f6b0;
    }
}

html, body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
    background: -webkit-linear-gradient(left top, var(--bg-accent), var(--bg-color));
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    color: var(--color-text);
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    margin: 2px;
}

h4 {
    font-size: 0.9em;
    color: var(--color-text);
    font-weight: 500;
    padding: 0;
    margin: 2px;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: top;
}

/*
████████ ██ ████████ ██      ███████     ██████   █████  ██████
   ██    ██    ██    ██      ██          ██   ██ ██   ██ ██   ██
   ██    ██    ██    ██      █████       ██████  ███████ ██████
   ██    ██    ██    ██      ██          ██   ██ ██   ██ ██   ██
   ██    ██    ██    ███████ ███████     ██████  ██   ██ ██   ██
*/

#title-bar {
    width: 100vw;
    height: 50px;
    padding: 1em;
}

#user-count {
    color: var(--color-text);
    position: fixed;
    top: 0.5em;
    right: 1em;
}

#user-count p {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

.user-icon {
    width: 1em;
}

/*
 █████  ██████  ██████      ██████   █████  ██████
██   ██ ██   ██ ██   ██     ██   ██ ██   ██ ██   ██
███████ ██████  ██████      ██████  ███████ ██████
██   ██ ██      ██          ██   ██ ██   ██ ██   ██
██   ██ ██      ██          ██████  ██   ██ ██   ██
*/

#app-bar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background: var(--bg-accent);
    text-align: center;
    vertical-align: middle;
    box-shadow: rgba(0,0,0,0.5) 0 -3px 5px -4px; /* TODO: change to a glow for dark theme? */
}

#todo-input {
    height: 50px;
    width: calc(70vw - 2em);
    font-size: 1em;
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    box-shadow: inset var(--color-text) 0 0 0 1px;
    border-radius: 4px;
    padding: 0 10px 0 10px;

}

@media (prefers-color-scheme: dark) {
    #todo-input {
        box-shadow: inset var(--color-text) 0 0 0 1px;
    }
}

#todo-input:focus {
    outline: none;
    box-shadow: inset var(--color-interact) 0 0 0 1px;
}

#make {
    background: var(--color-interact);
    width: 50px;
    height: 50px;
    border-radius: 3px;
    font-size: 1.2em;
    color: var(--bg-accent);
    border: none;
    cursor: pointer;
}

#make:hover {
    background: var(--color-accent);
    transition: background 0.3s ease;
}

#make:focus {
    outline: none;
}

.plus {
    width: 50%;
    margin-top: 6px;
    margin-left: 1px;
}

#user-toaster {
    background: var(--color-interact);
    color: var(--bg-accent);
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: -11em;
}

.notify {
    /*right: 0;*/
    /*transition: right 0.5s ease-in;*/
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% {
        right: 1em;
    }
}

@keyframes slide {
    100% {
        right: 1em;
    }
}

/*
████████  ██████  ██████   ██████      ██      ██ ███████ ████████
   ██    ██    ██ ██   ██ ██    ██     ██      ██ ██         ██
   ██    ██    ██ ██   ██ ██    ██     ██      ██ ███████    ██
   ██    ██    ██ ██   ██ ██    ██     ██      ██      ██    ██
   ██     ██████  ██████   ██████      ███████ ██ ███████    ██
*/

.todo-container {
    position: relative;
    width: calc(75vw - 2em);
    top: 1.5em;
    margin-bottom: 25px;
}

#todo-list {
    margin-left: calc(25vw - 2em);
    list-style: none;
    border: 0;
    padding: 0 0 100px 0;
}

@media (max-width: 599px) {

    .todo-container {
        width: calc(100vw - 2em);
    }

    #todo-list {
        margin-left: 0;
    }

}

#todo-list li {
    margin: 1em;
    padding: 1em;
    height: 50px;
    width: calc(100% - 2em);
    background: var(--bg-todo);
    box-shadow: var(--color-text) 0 1px 3px -1px;
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
    #todo-list li {
        box-shadow: var(--color-accent) 0 0 0 1px;
    }
}

#todo-list p {
    color: var(--color-text);
    display: inline-block;
    font-size: 1em;
}

#todo-list .completed p {
    color: var(--color-black);
}

.text-buttons {
    width: calc(100vw - 2em);
    text-align: center;
}

.text-btn {
    border: 0;
    height: 30px;
    display: inline-block;
    background: none;
    color: black;
    text-align: center;
    border-bottom: 2px var(--color-accent) solid;
    color: var(--color-text);
    margin: 0 1em 0 1em;
    font-size: 0.8em;
    cursor: pointer;
}

.text-btn:hover {
    color: var(--color-accent);
    transition: color 0.3s ease;
}

.text-btn:focus {
    outline: none;
}

.btn {
    width: 30px;
    border: 0;
    height: 30px;
    outline: none;
    display: inline-block;
}
.btn:hover{
    cursor: pointer;
}

.btn-check {
    background: var(--bg-accent);
    color: var(--color-text);
    border: 3px var(--color-text) solid;
    border-radius: 15px;
    margin-left: 1em;
    margin-right: 1em;
}
.btn-check:hover {
    transition: border 0.3s ease;
    border: 3px var(--color-interact) solid;
}

.check {
    width: 100%;
    /*opacity: 0;*/
    margin-top: 3px;
}

.btn-check:hover .check {
    transition: filter 0.3s ease;
    filter: invert(50%);
}

.btn-delete {
    background: transparent;
    color: var(--color-text);
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    position: absolute;
    right: 0;
    /*top: 50%;*/
}

.delete {
    width: 100%;
    filter: grayscale(100%);
    margin-top: 13px;
}

.btn-delete:hover .delete {
    transition: filter 0.3s ease;
    filter: grayscale(0%);
}

/*
███████ ████████  █████  ████████ ███████ ███████
██         ██    ██   ██    ██    ██      ██
███████    ██    ███████    ██    █████   ███████
     ██    ██    ██   ██    ██    ██           ██
███████    ██    ██   ██    ██    ███████ ███████
*/

#todo-list li.completed {
    background: var(--color-selected) !important;
}

.completed .btn-check {
    background: var(--color-interact);
    border: 3px var(--color-interact) solid;
    color: var(--bg-accent);
}

.completed .check {
    opacity: 100;
}

.completed:hover .check {
    filter: invert(0%) !important;
}
