/*
 █████  ██████  ██████      ███████ ████████ ██    ██ ██      ███████ ███████
██   ██ ██   ██ ██   ██     ██         ██     ██  ██  ██      ██      ██
███████ ██████  ██████      ███████    ██      ████   ██      █████   ███████
██   ██ ██      ██               ██    ██       ██    ██      ██           ██
██   ██ ██      ██          ███████    ██       ██    ███████ ███████ ███████
*/

html, body {
    padding: 0;
    margin: 0;
    background: #F8F8F8;
    background: -webkit-linear-gradient(left top, #ffffff, #F8F8F8);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    margin: 2px;
}

h4 {
    font-size: 0.9em;
    color: grey;
    font-weight: 500;
    padding: 0;
    margin: 2px;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: top;
}

/*
████████ ██ ████████ ██      ███████     ██████   █████  ██████
   ██    ██    ██    ██      ██          ██   ██ ██   ██ ██   ██
   ██    ██    ██    ██      █████       ██████  ███████ ██████
   ██    ██    ██    ██      ██          ██   ██ ██   ██ ██   ██
   ██    ██    ██    ███████ ███████     ██████  ██   ██ ██   ██
*/

#title-bar {
    width: 100vw;
    height: 50px;
    padding: 1em;
}

#user-count {
    color: grey;
    position: fixed;
    top: 0.5em;
    right: 1em;
}

#user-count p {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

.user-icon {
    width: 1em;
}

/*
 █████  ██████  ██████      ██████   █████  ██████
██   ██ ██   ██ ██   ██     ██   ██ ██   ██ ██   ██
███████ ██████  ██████      ██████  ███████ ██████
██   ██ ██      ██          ██   ██ ██   ██ ██   ██
██   ██ ██      ██          ██████  ██   ██ ██   ██
*/

#app-bar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background: #ffffff;
    text-align: center;
    vertical-align: middle;
    box-shadow: rgba(0,0,0,0.5) 0 -3px 5px -4px;
}

#todo-input {
    height: 50px;
    width: calc(70vw - 2em);
    font-size: 1em;
    font-weight: 500;
    background: #F8F8F8;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

#todo-input:focus {
    outline: none;
    border: 1px solid #24D3EB;
}

#make {
    background: #24D3EB;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    font-size: 1.2em;
    color: white;
    border: none;
    cursor: pointer;
}

#make:hover {
    background: #FEBE2D;
    transition: background 0.3s ease;
}

#make:focus {
    outline: none;
}

.plus {
    width: 50%;
    margin-top: 6px;
    margin-left: 1px;
}

#user-toaster {
    background: #24D3EB;
    color: #ffffff;
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: -11em;
}

.notify {
    /*right: 0;*/
    /*transition: right 0.5s ease-in;*/
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% {
        right: 1em;
    }
}

@keyframes slide {
    100% {
        right: 1em;
    }
}

/*
████████  ██████  ██████   ██████      ██      ██ ███████ ████████
   ██    ██    ██ ██   ██ ██    ██     ██      ██ ██         ██
   ██    ██    ██ ██   ██ ██    ██     ██      ██ ███████    ██
   ██    ██    ██ ██   ██ ██    ██     ██      ██      ██    ██
   ██     ██████  ██████   ██████      ███████ ██ ███████    ██
*/

.todo-container {
    position: relative;
    width: calc(75vw - 2em);
    top: 1.5em;
    margin-bottom: 100px;
    height: 100%;
}

#todo-list {
    /*text-align: center;*/
    margin-left: calc(25vw - 2em);
    list-style: none;
    border: 0;
    padding: 0 0 100px 0;
}

@media (max-width: 599px) {

    .todo-container {
        width: calc(100vw - 2em);
    }

    #todo-list {
        margin-left: 0;
    }

}

#todo-list li {
    margin: 1em;
    padding: 1em;
    height: 50px;
    width: calc(100% - 2em);
    background: white;
    box-shadow: grey 0 1px 5px -1px;
    border-radius: 3px;
}

#todo-list p {
    display: inline-block;
    font-size: 1em;
}

.text-buttons {
    width: calc(100vw - 2em);
    text-align: center;
}

.text-btn {
    border: 0;
    height: 30px;
    display: inline-block;
    background: none;
    color: black;
    text-align: center;
    border-bottom: 2px #FEBE2D solid;
    color: grey;
    margin: 0 1em 0 1em;
    font-size: 0.8em;
    cursor: pointer;
}

.text-btn:hover {
    color: #FEBE2D;
    transition: color 0.3s ease;
}

.text-btn:focus {
    outline: none;
}

.btn {
    width: 30px;
    border: 0;
    height: 30px;
    outline: none;
    display: inline-block;
}
.btn:hover{
    cursor: pointer;
}

.btn-check {
    background: white;
    color: grey;
    border: 3px grey solid;
    border-radius: 15px;
    margin-left: 1em;
    margin-right: 1em;
}
.btn-check:hover {
    transition: border 0.3s ease;
    border: 3px #24D3EB solid;
}

.check {
    width: 100%;
    /*opacity: 0;*/
    margin-top: 3px;
}

.btn-check:hover .check {
    transition: filter 0.3s ease;
    filter: invert(50%);
}

.btn-delete {
    background: transparent;
    color: grey;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    position: absolute;
    right: 0;
    /*top: 50%;*/
}

.delete {
    width: 100%;
    filter: grayscale(100%);
    margin-top: 13px;
}

.btn-delete:hover .delete {
    transition: filter 0.3s ease;
    filter: grayscale(0%);
}

/*
███████ ████████  █████  ████████ ███████ ███████
██         ██    ██   ██    ██    ██      ██
███████    ██    ███████    ██    █████   ███████
     ██    ██    ██   ██    ██    ██           ██
███████    ██    ██   ██    ██    ███████ ███████
*/

.completed {
    background: #E6FFE5 !important;
}

.completed .btn-check {
    background: #24D3EB;
    border: 3px #24D3EB solid;
    color: white;
}

.completed .check {
    opacity: 100;
}

.completed:hover .check {
    filter: invert(0%) !important;
}
